html,
body,

#app{
  height:100%;
  margin:0;
  padding:0;
  width:100%;
}
.recruitment_breadcrumb{
  position: relative;
  left:20px;
  margin-bottom: 15px;
  font-size:12px;
  width:100% !important;
}
.recruitment_card{
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15) !important;
  position: relative;
  left:10px;
  width:100% !important;
}

.recruitment_card2{
  box-shadow: 0 10px 10px rgba(0, 0.25, 0, 0.25) !important;
  /*margin-left:70px;
  margin-top:30px;*/
  width:400px !important;
  margin: auto;
  margin-top:30px;
  
}

.recruitment_card3{
  box-shadow: 0 10px 10px rgba(0, 0.25, 0, 0.25) !important;
  margin: auto;
  width:350px !important;
  height:90% !important;
}

.el-select .el-input {
  width: 130px;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}

.el-pagination{
  margin-top: 15px;
}


.time {
  font-size: 13px;
  color: #999;
}

.bottom {
  margin-top: 13px;
  line-height: 8px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.demo-ruleFormItem{
  margin-left: -10px;
}